@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <font size="5">
            <br>
            <font size=8>PROJETO FINAL - MANUAL ELEVADOR <br> </font>
            <div style='text-align:left'>
                <ul>
                    Este projeto foi desenvolvido usando 3 classes: Elevador, ElevadorView e ElevadorControler.
                    e constam 6 métodos na classe Elevador: Inicializar, Entrar, Sair, Subir, Descer e Menu,
                    o método menu foi instanciado entre as classe até a classe principal (Program), onde será executado
                    e mostra um menu com 6 opções:
                </ul>
            </div>

            <div style='text-align:left'>
                <ul>
                    <li>1.Inicializar
                    <li>2.Entrar
                    <li>3.Sair
                    <li>4.Subir
                    <li>5.Descer
                    <li>6.Sair
                </ul>
            </div>
            <font size=8>DESCRIÇÃO DO MENU DO USUÁRIO:<br> </font>
            <img src="~/imagem/TELA 3.jpg">
            <br>
            <div style='text-align:left'>
                <ul>
                    1. Inicializar: Ele inicializar os status: andar atual e quantidade de pesssoas com valor "0" (Elevador no térreo e vazio).
                </ul>
            </div>
            <div style='text-align:left'>
                <ul>
                    2. Entrar: Incrementa o valor da quantidade de pessoas (quantidade de pessoas mais uma pessoa).
                </ul>
            </div>
            <div style='text-align:left'>
                <ul>
                    3. Sair: Decrementa o valor da quantidade de pessoas (quantidade de pessoas menos uma pessoa).
                </ul>
            </div>
            <div style='text-align:left'>
                <ul>
                    4. Subir: Incrementa o valor da quantidade de andares em relação a posição (andar atual mais um andar).
                </ul>
            </div>
            <div style='text-align:left'>
                <ul>
                    5. Descer: Decrementa o valor da quantidade de andares em relação a posição (andar atual menos um andar).
                </ul>
            </div>
            <div style='text-align:left'>
                <ul>
                    6. Sair do Programa: Finaliza o programa console.
                </ul>
            </div>
            <br>
            <img src="~/imagem/TELA 4.jpg">
            <br>
            <div style='text-align:left'>
                <ul>

                    Este projeto faz o controle das entradas pelos números escolhido no menu e gera uma saída
                    a qual é mostrada ao usuário e atualizada a cada nova opção escolhida.
                </ul>
            </div>
            <div style='text-align:left'>
                <ul>
                    Qualquer dúvida enviar e-mail: roberto.parente@gmail.com
                </ul>
            </div>
            Ass: Roberto Parente
        </font>
</h1>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
